
pydantic-settings==2.4.0
python-decouple==3.8
uvicorn
pydantic==2.10.5
pydantic-core==2.27.2
fastapi==0.108.0
loguru
scikit-learn==1.6.0
jupyterlab==4.3.3
matplotlib==3.9.3
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-community
langgraph==0.2.64
scrapingant-client
sentence-transformers
langchain-huggingface
langchain-ollama
langchain-nvidia-ai-endpoints
tiktoken
pypdf